<div class="input-group">
    <h5>Case Name</h5>
    <input type="text" class="form-control" aria-describedby="basic-addon1"></input>
</div>
<div class="input-group">
    <h5>Is Complaint Warranted?</h5>
    <label class="radio-inline">
        <input type="radio" name="optradio">Yes </input>
    </label>
    <label class="radio-inline">
        <input type="radio" name="optradio">No </input>
    </label>
</div>
<div class="input-group">
    <h5>First Name</h5>
    <input type="text" class="form-control" aria-describedby="basic-addon1"></input>
</div>
<div class="input-group">
    <h5>Last Name</h5>
    <input type="text" class="form-control" aria-describedby="basic-addon1"></input>
</div>
